{% extends "layout.html" %}

{% block title %}
    使い方
{% endblock %}

{% block main %}
    <h1>使い方</h1>
    <p>このサービスは勉強の量×質をお金に換算して記録するものです</p>
    <p></p>
    <p></p>
    <p></p>
    <h2>記録の仕方</h2>
    <p>ホーム画面に日付、やったこと、時間、金額の入力欄があります</p>
    <p>日付には勉強した日、やったことにはタスクや勉強内容、時間には勉強時間を入力してください</p>
    <p>金額には、やったことに対する１時間当たりの金額を自分で評価して入力してください</p>
    <p>時間×金額をした値が記録されます</p>
    <p>(例)今日は3時間も勉強した。集中できたから1時間あたり1000円にしよう (記入例)時間→3時間/金額→1000円</p>
    <p>１時間当たりに直すのが面倒くさい場合は、時間を１時間にして金額を入力してください</p>
    <p>(例)今日は3時間で15問解いた。1問あたり100円で計算しよう (記入例)時間→1時間/金額→1500円</p>
    
    <h2>通帳</h2>
    <p>今までの記録の一覧を通帳形式で見ることができます</p>
    <p>編集・削除も可能です</p>
{% endblock %}
